section
   .conteiner 
      footer.footer 
         img(src="./assets/imgs/logo.png", alt="logo")
         .footer__info
            .footer__text
               span.footer__subtext Artist Management:
               span.footer__subtext EMAIL:
            .footer__link
               a.footer__link(href="") Jake Henny
               a.footer__link(href="") jake@brightlightsofficial.com
         .footer__nav
            a(href="") 
               img(src="./assets/imgs/aplee.svg", alt="aplee")
            a(href="") 
               img(src="./assets/imgs/spotify.svg", alt="spotify")
            a(href="") 
               img(src="./assets/imgs/instagrame.svg", alt="instagrame")
            a(href="") 
               img(src="./assets/imgs/youtube.svg", alt="youtube")
            a(href="") 
               img(src="./assets/imgs/twittre.svg", alt="twittre")
            a(href="") 
               img(src="./assets/imgs/facebook.svg", alt="facebook")

         p.footer__corp ©  2020 DJ bright lights.