section.track
   .conteiner
      .music
         .music__img
            img(src="./assets/imgs/music__img.png", alt="")
         .music__pleer
            .main__title
               span 
                  img(src="./assets/imgs/main.svg", alt="title")
               h2.main__title Bright Lights