section 
   .conteiner 
      .swiper.mySwiper
         .swiper-wrapper
            .swiper-slide 
               img.swiper__img(src="./assets/imgs/slide1.png", alt="")
               .swiper__info 
                  span.swiper__subtitle Chandler, AZ
                  h3.swiper__title The Park at Wild Horse Pass
                  .swiper__tikets
                     span.tikets__date Apr 02 2021
                     a.tikets__link tickets
            .swiper-slide 
               img.swiper__img(src="./assets/imgs/slide1.png", alt="")
               .swiper__info 
                  span.swiper__subtitle 
                  h3.swiper__title 
                  .swiper__tikets
                     span.tikets__date Apr 02 2021
                     a.tikets__link tickets
            .swiper-slide 
               img.swiper__img(src="./assets/imgs/slide1.png", alt="")
               .swiper__info 
                  span.swiper__subtitle 
                  h3.swiper__title 
                  .swiper__tikets
                     span.tikets__date Apr 02 2021
                     a.tikets__link tickets
            .swiper-slide 
               img.swiper__img(src="./assets/imgs/slide1.png", alt="")
               .swiper__info 
                  span.swiper__subtitle 
                  h3.swiper__title 
                  .swiper__tikets
                     span.tikets__date Apr 02 2021
                     a.tikets__link tickets
         .swiper-button-next
         .swiper-button-prev
         .swiper-pagination