section 
   .conteiner
      .row 
            img.row__img--1(src="./assets/imgs/Rectangle1.png", alt="img")
            img.row__img--2(src="./assets/imgs/Rectangle2.png", alt="img")
            img.row__img--3(src="./assets/imgs/Rectangle3.png", alt="img")
            img.row__img--4(src="./assets/imgs/Rectangle4.png", alt="img")
            span.row__img--5
               img(src="./assets/imgs/Rectangle 5.png", alt="img")
               span.row__text EDC Las Vegas Mainstage